*{margin: 0; padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #c11c1c;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9fa00' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Press Start 2P', cursive;
}

.random-area{
    width: 100%;
    height: 100vh;
    position: relative;

}

.random-area .group{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d0d0d0;
    border: 10px solid #c50808;
     padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.random-area .group *{
    padding: 14px 0;
    font-size: 30px;
}

.random-area .group h1{
    color: #ff0000;
    text-shadow: 3px 3px 0px #000000,  -3px -3px 0px #ffff00; 
    font-size: 70px;
    text-align: center;
}
button {
    width: 100px;
    background: #ffcc00;
    border: 4px solid #000;
    box-shadow: 4px 4px 0px #000;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    padding: 10px 20px;
}

button:hover {
    background: #ff0000;
    color: #fff;
}
@media (max-width: 1200px) {
    .random-area .group {
        width: 600px;
        height: 400px;
    }

    .random-area .group * {
        font-size: 24px;
    }

    .random-area .group h1 {
        font-size: 50px;
    }

    button {
        padding: 8px 16px;
    }
}

@media (max-width: 767px) {
    .random-area .group {
        width: 90%;
        height: auto;
        padding: 15px;
        border-width: 6px;
    }

    .random-area .group * {
        padding: 10px 0;
        font-size: 20px;
    }

    .random-area .group h1 {
        font-size: 50px;
    }

    button {
        width: 80px;
        padding: 8px 16px;
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .random-area .group {
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .random-area .group * {
        font-size: 16px;
    }

    .random-area .group h1 {
        font-size: 30px;
    }

    button {
        width: 60px;
        padding: 4px 8px;
    }
}
